<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MaxiKioscoSorribas</title></head>
    <!-- CSS -->
    <link rel="stylesheet" href="../public/css/index.css">

    <!-- FAVICON -->
    <link rel="shortcut icon" href="../public/images/MKSSorribas/favicon.ico" type="image/x-icon">

    <!--Fontawesome-->
    <script src="https://kit.fontawesome.com/0cb7eac916.js" crossorigin="anonymous"></script>
<body>
    
    <header>
        <div class="top-mid-pie-pagina"></div>

        <!-- logo principal -->
        <div class="caja-header">
            <img class="logo-principal" src="../public/images/MKSSorribas/LOGO_Naranja.png" alt="">
        </div>
        
        <!-- barra de navegacion -->
            <nav >
                <ul class="barra-navegacion">
                    
                    <li><a href="./index.html">INICIO</a></li>
                    <li><a href="./productos.html">PRODUCTOS</a></li>
                    <li><a href="./nosotros.html">NOSOTROS</a></li>
                    <li><a href="./login.html">LOGIN</a></li>
                </ul>
            </nav>
        </header>
        
            <!-- linea separadora header y main -->
            <div class="linea-mid-pagina"></div>
        <main>


        
        




                <!-- BOTON DE WHATSAPP -->
        <button class="button-whatsapp" >
            <a href="https://api.whatsapp.com/send?phone=+54 353 481 3541">
                <img src="../public/images/whatsapp.png" alt="whatsapp" class="whatsapp">
            </a>
        </button>
                    
            <img style="width:100%" src="../public/images/cervezas.PNG" alt="banner">
            
            <img style="width:100%" src="../public/images/lays.PNG" alt="banner">

                <!-- linea separadora de  main y footer  -->
        <div class="linea-mid-pagina"></div>
    </main>
    <footer>
        
        <div class="caja-contactos-redes-preguntas">

            <section class="cajas-base-footer">

                <h2 class="titulos-footer" ><a class="titulos-footer" href="#">CONTACTO</a> </h2>
                
                <p class="email"><a href="https://mail.google.com/mail/u/0/#inbox?compose=new">maxiKioscoSorribas@gmail.com </a></p>
                
                <p>0353-4813541</p>
                
            </section>
            
            <section class="cajas-base-footer">
                
                <h2 class="titulos-footer">SEGUINOS</h2>
                
                <a class="redes" href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a>
                
                <a class="redes" href="https://www.instagram.com/?hl=es"><i class="fab fa-instagram-square"></i></a>
                
                <a class="redes" href="https://twitter.com/"><i class="fab fa-twitter-square"></i></a>
                
            </section>
            
            
        <section class="cajas-base-footer">
            <h2 class="titulos-footer" ><a class="titulos-footer" href="/">INICIO</a></h2>

            <p class="productos-footer">Preguntas frecuentes</p>
            
            <p ><a href="#">Productos</a></p>
        </section>
    </div>

</footer
</body>
</html>