* {
  margin: 0%;
  padding: 0%;
}

body {
  background-color: #fbf6ee;
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
}

.linea-mid-pagina, header .top-mid-pie-pagina {
  background-color: #f35c17;
  width: 100%;
  height: 12px;
}

header {
  padding-bottom: 15px;
  background-color: #fbf6ee;
  font-size: 17px;
}
header .caja-header {
  text-align: center;
}
header .logo-principal {
  width: 26%;
}
header .barra-navegacion {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0px;
  margin-top: 0px;
}
header .element-nav {
  text-align: center;
  text-decoration: none;
  color: black;
  font-weight: bolder;
  font-size: 22px;
}
header nav {
  animation-duration: 3s;
  animation-name: barra-nav;
}
@keyframes barra-nav {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
@media (max-width: 640px) {
  header * {
    margin: 0;
    padding: 0;
  }
  header .logo-principal {
    width: 75%;
  }
  header .element-nav {
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 18px;
  }
}

.linea-mid-pagina, header .top-mid-pie-pagina {
  background-color: #f35c17;
  width: 100%;
  height: 12px;
}

main .caja-boton-ver-mas .boton-ver-mas {
  background-color: #fb5e02c5;
  color: white;
  font-size: 18px;
  font-weight: bolder;
  width: 180px;
  height: 45px;
  border-radius: 9px;
  align-items: center;
  border-style: none;
  box-shadow: 1px -1px 10px 0px rgba(7, 2, 0, 0.753);
}

main .linea-producto-producto .caja-producto-producto .descripcion {
  text-align: center;
  margin: 12px;
  font-weight: bold;
  padding: 19px;
}

main .linea-producto-producto .caja-producto-producto .precio {
  text-align: center;
  margin: 10px;
  font-weight: bold;
}

main .button-whatsapp {
  background-color: transparent;
  position: fixed;
  right: 11px;
  bottom: 50px;
  border: none;
}

main .button-whatsapp .whatsapp {
  width: 60px;
}

main .titulo-index {
  text-align: center;
  background-color: #f35c17;
  margin-top: 15px;
  font-weight: bold;
}
main .linea-producto-producto {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 5px;
  margin-top: 45px;
}
main .linea-producto-producto .caja-producto-producto {
  padding: 7px;
  margin-top: 25px;
  margin-left: 30px;
  width: 68%;
  background-color: #a99c8f1f;
  /* background: linear-gradient(to bottom, #fbf6ee 6%, rgb(255 91 0 / 56%)); */
  box-shadow: 0px 16px 32px -4px rgba(145, 158, 171, 0.24), inset 0px 0px 4px rgba(145, 158, 171, 0.24);
  border-radius: 16px;
}
main .linea-producto-producto .caja-producto-producto .contenedor-imagen {
  display: flex;
  /* flex-direction: row; */
  flex-wrap: nowrap;
  justify-content: center;
}
main .linea-producto-producto .eliminado {
  display: none;
}
main .caja-boton-ver-mas {
  text-align: center;
  margin: 50px;
  margin-bottom: 90px;
}
@media (max-width: 640px) {
  main .top-mid-pie-pagina {
    width: 100%;
  }
  main .caja-top {
    display: flex;
    justify-content: space-around;
    padding: 5px;
    margin-top: 45px;
    flex-direction: column;
    align-items: center;
  }
  main .caja-top .caja-producto-producto {
    width: 50%;
    padding: 4px;
  }
  main .caja-boton-ver-mas {
    margin-top: 45px;
  }
  main .caja-boton-ver-mas .boton-ver-mas {
    width: 70%;
  }
  main .banner-lays {
    display: none;
  }
}
@media (min-width: 641px) and (max-width: 1007px) {
  main .linea-producto-producto {
    margin-left: 35px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  main .linea-producto-producto .eliminado {
    display: block;
  }
  main .caja-boton-ver-mas {
    margin: 50px;
  }
}

footer {
  background-color: #fbf6ee;
}
footer .caja-contactos-redes-preguntas {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 35px;
}
footer .caja-contactos-redes-preguntas .titulos-footer {
  /* color: #F35C17; */
  color: #f35c17;
  padding-bottom: 15px;
  text-decoration: none;
}
footer .caja-contactos-redes-preguntas .email a,
footer .caja-contactos-redes-preguntas .productos-footer, footer .caja-contactos-redes-preguntas .footer-p {
  text-decoration: none;
  padding-bottom: 15px;
  color: black;
}
footer .caja-contactos-redes-preguntas .redes {
  font-size: 66px;
  color: #f35c17;
}
@media (max-width: 640px) {
  footer .caja-contactos-redes-preguntas {
    display: flex;
    padding: 35px;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  footer .caja-contactos-redes-preguntas .cajas-base-footer {
    margin-bottom: 35px;
    text-align: center;
  }
}

/*# sourceMappingURL=productos.css.map */
