
%boton-ver-mas{
    background-color: #fb5e02c5;
    color: white;
    font-size: 18px;
    font-weight: bolder;
    width: 180px;
    height: 45px;
    border-radius: 9px;
    align-items: center;
    border-style: none;
    box-shadow: 1px -1px 10px 0px rgba(7, 2, 0, 0.753);
}