// variables header


// color de fondo 
$bg-color: #fbf6ee;

//tamaño de letras
$size-header: 17px;

// barra naranja separadora
%barra-naranja{
    background-color: #f35c17;
    width: 100%;
    height: 12px;
}
