/*COLOR BASE DE PROYECTO : #F35C17 (naranja)+
#F4F0E5
*/
* {
    margin: 0%;
    padding: 0%;
  }
  /*BODY*/
  body {
    background-color: #fbf6ee;
    font-family: "Montserrat", sans-serif;
    margin: 0 auto;
    /* font-size: 11px; */
  }
  /*BODY*/
  
  /*HEADER*/
  header {
    padding-bottom: 15px;
    background-color: #fbf6ee;
    font-size: 17px;
  }
  
  .top-mid-pie-pagina {
    background-color: #f35c17;
    width: 100%;
    height: 12px;
  }
  
  .caja-header {
    text-align: center;
  }
  
  .logo-principal {
    width: 26%;
  }
  
  .barra-navegacion {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0px;
    margin-top: 0px;
  }
  
  .element-nav {
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 22px;
  }

  nav {
    animation-duration: 3s;
    animation-name: barra-nav;
  }
  
  @keyframes barra-nav {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  /*HEADER*/
  
  /*MAIN*/
  
  .carousel {
    width: 100%;
    margin-bottom: -3px;
  }
  .linea-mid-pagina {
    background-color: #f35c17;
    width: 100%;
    height: 8px;
  }
  
  .titulo-index {
    text-align: center;
    background-color: #f35c17;
    margin-top: 15px;
  }
  
  .caja-bottom {
    margin-bottom: 105px;
  }
  
  .linea-producto-producto {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 5px;
    margin-top: 45px;
  }
  
  .contenedor-imagen {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: nowrap;
    justify-content: center;
  }
  
  .caja-producto-producto {
    padding: 7px;
    margin-top: 25px;
    margin-left: 30px;
    width: 68%;
    background-color: #a99c8f1f; 
    /* background: linear-gradient(to bottom, #fbf6ee 6%, rgb(255 91 0 / 56%)); */
    box-shadow: 0px 16px 32px -4px rgb(145 158 171 / 24%), inset 0px 0px 4px rgb(145 158 171 / 24%);
    border-radius: 16px;
  
}
  
  
  .descripcion {
    text-align: center;
    margin: 12px;
    font-weight: bold;
    padding: 19px;
  }
  
  .precio {
    text-align: center;
    margin: 10px;
    font-weight: bold;
  }
  
  .caja-boton-ver-mas {
    text-align: center;
    margin-bottom: 90px;
  }
  
  .boton-ver-mas {
    background-color: #fb5e02c5;
    color: white;
    font-size: 18px;
    font-weight: bolder;
    width: 180px;
    height: 45px;
    border-radius: 9px;
    align-items: center;
    border-style: none;
    box-shadow: 1px -1px 10px 0px rgba(7, 2, 0, 0.753);
  }
  .eliminado{
    display: none;
  }

  .caja-boton-ver-mas{
    margin: 50px;
  }
  /*BOTON DE WHATSAPP*/
  
  .button-whatsapp {
    background-color: transparent;
    position: fixed;
    right: 11px;
    bottom: 50px;
    border: none;
  }
  .whatsapp {
    width: 60px;
  }
  
  /*BOTON DE WHATSAPP*/
  
  /*MAIN*/
  /*FOOTER*/
  
  footer {
    background-color: #f4f0e5;
  }
  
  .caja-contactos-redes-preguntas {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 35px;
  }
  .titulos-footer {
    /* color: #F35C17; */
    color: #f35c17;
    padding-bottom: 15px;
    text-decoration: none;
  }
  
  .email a,
  .productos-footer {
    text-decoration: none;
    padding-bottom: 15px;
  }
  .redes {
    font-size: 66px;
    color: #f35c17;
  }
  
  /*FOOTER*/
  
  /*MEDIAS*/
  @media (max-width: 640px) {
    * {
      margin: 0;
      padding: 0;
    }
    .logo-principal {
      width: 75%;
    }
    .element-nav {
      text-align: center;
      text-decoration: none;
      color: black;
      font-weight: bolder;
      font-size: 18px;
    }
    .top-mid-pie-pagina {
      width: 100%;
    }
    .carousel {
      height: 182;
    }
  
    .caja-top {
      display: flex;
      justify-content: space-around;
      padding: 5px;
      margin-top: 45px;
      flex-direction: column;
      align-items: center;
    }
  
    .caja-producto-index {
      width: 50%;
      padding: 4px;
    }
  
    .caja-boton-ver-mas {
      margin-top: 45px;
      
    }
    .boton-ver-mas{
      width: 70%;
    }
  
    .caja-bottom {
      display: none;
    }
  
    .banner-lays {
      display: none;
    }
  
    .caja-contactos-redes-preguntas {
      display: flex;
      padding: 35px;
      flex-direction: column;
      flex-wrap: nowrap;
    }
  
    .cajas-base-footer {
      margin-bottom: 35px;
      text-align: center;
    }
    
      
    
  }
  
  @media (min-width: 641px) and (max-width: 1007px) {
    .linea-producto-producto{
        margin-left:35px ;
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .caja-boton-ver-mas{
      margin: 50px;
    }
    .eliminado{
      display: block;
    }
    
  }
  @media (min-width: 1008px)  {
 
  
  }

  
  /*MEDIAS*/
  